{
  "presets": [ // 相当于插件集合，不需要在 plugins 中再配置多个插件
    [
      "@babel/preset-env", {
        "useBuiltIns": "entry",    //如果用了@babel/polyfill的话，配置这个属性可以将@babel/polyfill按需引入
        "corejs": 2
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": []
}